<style>
                .map {
                position:relative;
                padding-bottom: 56.25%;
                height:0;
                overflow:hidden;
                align: middle;
                }
                .map iframe, .video object, .video embed {
                position: absolute;
                margin: auto;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                height: 100%;
                }
</style>

<section id="accommodation">
        <div class="container12">
            <div class="row">
                <div class="container text-center">
                    <h2 class="section-heading">Accommodation</h2>
		<div class="col-12 center-block speakers-item">
		<p align="center">
                    The following list provides some hotel recomendations. Another useful option is to use <a href="https://www.airbnb.ca/s/homes?refinement_paths%5B%5D=%2Fhomes&amp;query=vancouver&amp;checkin=2019-06-17&amp;checkout=2019-06-21&amp;adults=1&amp;search_type=UNKNOWN&amp;allow_override%5B%5D=&amp;zoom=14&amp;search_by_map=true&amp;sw_lat=49.255691693931766&amp;sw_lng=-123.15494411538213&amp;ne_lat=49.29498557601352&amp;ne_lng=-123.06782596657842&amp;s_tag=P5qSIpXH" target="_blank">Airbnb</a>. Please also check <a href="https://www.translink.ca/Schedules-and-Maps.aspx" target="_blank">translink.ca</a> for information on the local public transit system. Close proximity to the Expo or Canada Skytrain line is desirable. <b>Please book your accommodation as soon as possible as prices and availability are a concern during the Summer season</b>.
                </p>
		</div>
		
		<div class="row">
		
			
			
		<div class="col-lg-6 col-md-12 center-block speakers-item">
                    <div class="container text-center" style="color: #{{ site.data.template.color.primary }}">
                    </div>  
                  <table style="margin: auto; width: 100%;">
	<thead>
	<tr>
		<th style="background: #fff; color: #fff; border: 0px solid #ccc; "></th>
		<th style="border: 1px solid #bbb; text-align: center; ">Information</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td style="background: #fcebed; border: 1px solid #bbb; white-space: nowrap; text-align: center;  "><a href="https://www.marriott.com/hotels/travel/yvrdv-delta-hotels-vancouver-downtown-suites/">Delta Hotel</a><br>&#9734;&#9734;&#9734;&#9734;</td>
		<td style="background: #fcebed; border: 1px solid #bbb; text-align: center; ">100m to the IGS'19 Venue</td>
	</tr>
	<tr>
		<td style="border: 1px solid #bbb; white-space: nowrap; text-align: center;  "><a href="https://www.stregishotel.com/" target="_blank">St. Regis Hotel</a><br>&#9734;&#9734;&#9734;</td>
		<td style="border: 1px solid #bbb; text-align: center; ">450m to the IGS'19 Venue</td>
	</tr>
	<tr>
		<td style="background: #fcebed; border: 1px solid #bbb; white-space: nowrap; text-align: center;  "><a href="https://www.marriott.com/hotels/travel/yvrgw-the-westin-grand-vancouver/" target="_blank">Westin Grand</a><br>&#9734;&#9734;&#9734;&#9734;</td>
		<td style="background: #fcebed; border: 1px solid #bbb; text-align: center; ">750m to the IGS'19 Venue</td>
	</tr>
  <tr>
		<td style="border: 1px solid #bbb; white-space: nowrap; text-align: center;  "><a href="https://www.ramadadowntownvancouver.com/" target="_blank">Ramada Limited</a><br>&#9734;&#9734;&#9734;</td>
		<td style="border: 1px solid #bbb; text-align: center; ">190m to the IGS'19 Venue</td>
	</tr>
  <tr>
		<td style="background: #fcebed; border: 1px solid #bbb; white-space: nowrap; text-align: center;  "><a href="http://www.daysinnvancouver.com/" target="_blank">Days Inn</a><br>&#9734;&#9734;&#9734;</td>
		<td style="background: #fcebed; border: 1px solid #bbb; text-align: center; ">600m to the IGS'19 Venue; Call (+1 604-681-4335) to request the 'Local Business Corporate call-in rate' for a <b>15% discount</b></td>
	</tr>
  <tr>
		<td style="border: 1px solid #bbb; white-space: nowrap; text-align: center;  "><a href="https://www.ihg.com/holidayinn/hotels/us/en/vancouver/yvrbw/hoteldetail?cm_mmc=GoogleMaps-_-HI-_-CA-_-YVRBW" target="_blank">Holiday Inn</a><br>&#9734;&#9734;&#9734;</td>
		<td style="border: 1px solid #bbb; text-align: center; ">1.5km to IGS'19 Venue; 450m to the 'Broadway – City Hall' SkyTrain station / SkyTrain takes 6 minutes to the 'Waterfront' Station and runs every 4 minutes</td>
	</tr>
  <tr>
		<td style="background: #fcebed; border: 1px solid #bbb; text-align: center;  "><a href="https://www.parkinn.com/vancouverca?csref=os.amer-ca-prk-BCVANCOU-gmb" target="_blank">Park Inn & Suites<br>by Radisson</a><br>&#9734;&#9734;&#9734;</td>
		<td style="background: #fcebed; border: 1px solid #bbb; text-align: center; ">3.5km to the IGS'19 Venue; 700m to the 'Broadway – City Hall' SkyTrain station / SkyTrain takes 6 minutes to the 'Waterfront' Station and runs every 4 minutes</td>
	</tr>
  <tr>
		<td style="border: 1px solid #bbb; text-align: center;  "><a href="https://www3.hilton.com/en/hotels/british-columbia/hilton-vancouver-metrotown-YVRVMHF/index.html?SEO_id=GMB-HI-YVRVMHF" target="_blank">Hilton Vancouver Metrotown</a><br>&#9734;&#9734;&#9734;&#9734;</td>
		<td style="border: 1px solid #bbb; text-align: center; ">1.5km to the IGS'19 Venue; 400m to the 'Metrotown' Skytrain station / SkyTrain takes 19 minutes to the 'Waterfront' Station and runs every 3 minutes</td>
	</tr>
  <tr>
		<td style="background: #fcebed; border: 1px solid #bbb; white-space: nowrap; text-align: center;  "><a href="o	https://www.ihg.com/holidayinnexpress/hotels/us/en/burnaby/yvrbm/hoteldetail?cm_mmc=GoogleMaps-_-EX-_-CA-_-YVRBM" target="_blank">Holiday Inn Express</a><br>&#9734;&#9734;&#9734;</td>
		<td style="background: #fcebed; border: 1px solid #bbb; text-align: center; ">15.5km to the IGS'19 Venue; 90m to the 'Metrotown' Skytrain station / SkyTrain takes 19 minutes to the 'Waterfront' Station and runs every 3 minutes</td>
	</tr>
	</tbody>
</table>
                  
            </div>
			
			
			
			
		<div class="col-lg-6 col-md-12 center-block speakers-item">
                    <p style="text-align: center;">
                    <iframe src="map.html" style="height: 100%; min-height:60vh; width: 100%; right: 0; top: 0; left:0"></iframe>
                    </p>                    
                </div>
		
	</div>
                </div>
            </div>
        </div>
    </section>
