<style>
                .map {
                position:relative;
                padding-bottom: 56.25%;
                height:0;
                overflow:hidden;
                align: middle;
                }
                .map iframe, .video object, .video embed {
                position: absolute;
                margin: auto;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                height: 100%;
                }
</style>

<script>
  var map = L.map('map').setView([49.284353,-123.11486], 15);
  var marker = L.marker([49.284353,-123.11486], { title: "IGS Venue" }).addTo(map);
  
  L.esri.basemapLayer('Streets').addTo(map);
  L.esri.featureLayer({
    url: 'https://services.arcgis.com/rOo16HdIMeOBI4Mb/arcgis/rest/services/Trimet_Transit_Stops/FeatureServer/0',
    pointToLayer: function (geojson, latlng) {
      return L.marker(latlng, {
        icon: icons[geojson.properties.direction.toLowerCase()]
      });
    },
  }).addTo(map);
</script>

<section id="accommodation">
        <div class="container12">
            <div class="row">
                <div class="container text-center">
                    <h2 class="section-heading">Accomodation</h2>
                    <div class="container text-center" style="color: #{{ site.data.template.color.primary }}">
                            <p>More information will be available soon!</p>
                    </div>
                    <p style="text-align: center;">
                    <div id="map"></div>
                    </p>
                </div>
            </div>
        </div>
    </section>
