<style>
                .map {
                position:relative;
                padding-bottom: 56.25%;
                height:0;
                overflow:hidden;
                align: middle;
                }
                .map iframe, .video object, .video embed {
                position: absolute;
                margin: auto;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                height: 100%;
                }
</style>

<section id="accommodation">
        <div class="container12">
            <div class="row">
                <div class="container text-center">
                    <h2 class="section-heading">Accomodation</h2>
                    <div class="container text-center" style="color: #{{ site.data.template.color.primary }}">
                    </div>
                    <p style="text-align: center;">
                    <iframe src="http://geometrysummit.org/map.html" style="width: 90%; height: 60vh; margin: 0; padding: 0"></iframe>
                    </p>
                </div>
            </div>
        </div>
    </section>
