<!-- Portfolio Grid Section -->
    <section id="register" class="bg-white">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Registration</h2>
                </div>
		    
            </div>
            <div class="row" style="margin-top:20px">
            <div class="col-12 text-center">
                     

		    <table style="margin: auto; white-space: nowrap;">
	<thead>
	<tr>
		<th style="background: #fff; color: #fff; border: 0px solid #ccc; "></th>
		<th style="border: 1px solid #bbb; ">Members*</th>
		<th style="border: 1px solid #bbb; ">Non-members</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td style="background: #fcebed; border: 1px solid #bbb; ">Students</td>
		<td style="background: #fcebed; border: 1px solid #bbb; ">$ 750</td>
		<td style="background: #fcebed; border: 1px solid #bbb; ">$ 850</td>
	</tr>
	<tr>
		<td style="border: 1px solid #bbb; ">Invited journal presenter **</td>
		<td style="border: 1px solid #bbb; ">$ 750</td>
		<td style="border: 1px solid #bbb; ">$ 850</td>
	</tr>
	<tr>
		<td style="background: #fcebed; border: 1px solid #bbb; ">Researchers</td>
		<td style="background: #fcebed; border: 1px solid #bbb; ">$ 1000</td>
		<td style="background: #fcebed; border: 1px solid #bbb; ">$ 1,100</td>
	</tr>
	<tr>
		<td style="border: 1px solid #bbb; ">Industry</td>
		<td style="border: 1px solid #bbb; ">$ 1,200</td>
		<td style="border: 1px solid #bbb; ">$ 1,300</td>
	</tr>
	<tr>
		<td style="background: #fcebed; border: 1px solid #bbb; ">SIAM Membership Bundle***</td>
		<td style="background: #fcebed; border: 1px solid #bbb; text-align: center; " colspan="2">$ 1,250</td>
	</tr>
	</tbody>
</table>
		    <div class="speakers-caption col-lg-12 text-center">
			<p class="text-muted" style="font-size: 70%;">Full conference, prices in CAD<br>
				                                      *Members of ACM, Eurographics, or SIAM<br>
								      **This discounted rate is only applicable to a non-student presenter who comes to the Summit solely as an invited journal presenter.<br>
								      *** This is applicable for any non-SIAM member researcher who wishes to register with an extra charge of $150 CAD to receive a SIAM membership up to December 31, 2020.<br>
								      **** Full refund if cancelling before May 17. No refund afterwards. 
								      
			    </p>
        </div>
		    
		    
		    
                    </div>
		    
		    <div class="container text-center" style="color: #{{ site.data.template.color.primary }}">
			    <h2><a href="https://ungerboeck.its.sfu.ca/emc00/register.aspx?OrgCode=01&EvtID=132929&AppCode=REG&CC=119040550750" target="_blank" style="padding:10px; background:#A6192B; color: white;">Register Now!</a></h2>
                    </div>
            </div>
        </div>
    </section>
