<!-- jQuery Version 1.11.0 -->
<script src="/css/2016_style/js/jquery-1.11.0.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/css/2016_style/js/bootstrap.min.js""></script>

<!-- Plugin JavaScript -->
<script src="/css/2016_style/js/jquery.easing.min.js"></script>
<script src="/css/2016_style/js/classie.js"></script>
<script src="/css/2016_style/js/cbpAnimatedHeader.js"></script>

<!-- Custom Theme JavaScript -->
<script src="/css/2016_style/js/agency.js"></script>

                                          
    <!-- Load Leaflet from CDN -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
    integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
    integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
    crossorigin=""></script>


    <!-- Load Esri Leaflet from CDN -->
    <script src="https://unpkg.com/esri-leaflet@2.2.3/dist/esri-leaflet.js"
    integrity="sha512-YZ6b5bXRVwipfqul5krehD9qlbJzc6KOGXYsDjU9HHXW2gK57xmWl2gU6nAegiErAqFXhygKIsWPKbjLPXVb2g=="
    crossorigin=""></script>
